extends layout

block content
  h1 #{title}
  form(method='POST', action='/edit/'+article._id)
    #form-group
      label Title:
      input.form-control(name='name', type='text', readonly=true ,value=article.ImgName)
    #form-group
      label Author:
      input.form-control(name='url', type='text', value=article.ImgURL)
    #form-group
      label Body:
      textarea.form-control(name='details')= article.ImgDetails
    br
    input.btn.btn-primary(type='submit',value='Submit')
